@font-face {
    font-family: "inkfree";
    src: url('../fonts/inkfree/Inkfree.ttf');
}

body{
    font-family: inkfree;
}

.navUnderline{
    border-bottom: solid 1px black;
}

.margeNavbar{
    height: 70px;
}

.encart{
    background-color: black;
    margin-top: 30px;
    padding: 15px;
}

.encart>h1, .encart>p{
    font-size: 40px;
    color: white;
}