@font-face {
    font-family: 'Ink Free Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Ink Free Regular'), url('Inkfree.woff') format('woff');
    }

body{
    font-family: Ink Free Regular;
}

.navUnderline{
    border-bottom: solid 1px black;
}

.margeNavbar{
    height: 70px;
}

.encart{
    background-color: black;
    margin-top: 30px;
    padding: 15px;
}

.encart>h1, .encart>p{
    font-size: 40px;
    color: white;
}